{% extends "layout.html" %}
{% block content %}
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>
  <iframe width="700" height="500" frameborder="0" scrolling="no" 
  src="https://onedrive.live.com/embed?resid=67E1C47B4ACECE8F%21136&authkey=%21AEVTKwvT-UYcLy0&em=2&AllowTyping=True&ActiveCell='Sheet3'!A1&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
  <p>Click on the "Choose File" button to upload a file:</p>

  <!-- <form action="/action_page.php">
  
    <input type="submit">
  </form> -->
<article class="media content-section">
<div>

  <form action="/view">
    <input type="file" id="myFile" name="filename">
    <input type="submit" value="view time table">
  </form
 
</div>
</article>
  
{% endblock content %}